<ion-view view-title="more information">
<ion-content>
    <ion-list class="list-inset">
      <ion-item class="item-text-wrap"
      ng-repeat="item in gigs | filter: {name:whichgig}">
        <img ng-src="img/{{item.name}}.jpg" width="150px" height="100px "alt="{{item.name}} Photo">
        <h3>Name: {{item.name}}</h3>
        <h2> Date: {{ item.date }}</h2>
        <h3>Venue: {{ item.venue }}</h3>
        <h2>Fee: {{ item.entry }}</h2>
        <p>{{ item.Description }}</p>
      
<!-- social sharing -->
  <div ng-controller="Social" class="button-bar">
  <button ng-click="share('t', 'Grab a ticket at:','', 'http://prytontechnologies.com')"
  class="icon   ion-social-twitter button button-calm button-clear"></button>
  <button ng-click="share('f', 'Grab a ticket at:','', 'http://prytontechnologies.com')"
  class="icon  ion-social-facebook button button-positive button-clear"></button>
  <button ng-click="share('w', 'Grab a ticket at:','', 'http://prytontechnologies.com')"
  class="icon  ion-social-whatsapp button button-balanced button-clear"></button>
  <button ng-click="share('w', 'Grab a ticket at:','', 'http://prytontechnologies.com')"
  class="icon  ion-ios-email button button-assertive button-clear"></button>
  </div>
        
      </ion-item>
    </ion-list>
    <!-- image gallery -->
    <ion-list  ng-controller="ImgController" ng-init="loadImages()" class= "list-inset">
    <h3> Gallery</h3>
    <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
        <div class="col col-25" ng-if="$index < images.length">
            <img ng-src="img/{{images[$index].name}}.jpg" width="100%" />
        </div>
        <div class="col col-25" ng-if="$index + 1 < images.length">
            <img ng-src="img/{{images[$index + 1].name}}.jpg" width="100%" />
        </div>
        <div class="col col-25" ng-if="$index + 2 < images.length">
            <img ng-src="img/{{images[$index + 2].name}}.jpg" width="100%" />
        </div>
        <div class="col col-25" ng-if="$index + 3 < images.length">
            <img ng-src="img/{{images[$index + 3].name}}.jpg" width="100%" />
        </div>
    </div>

      
    </ion-list>
  </ion-content>
<!-- social share -->
<!-- <div class="card" data-ng-controller="Social">
 <div class="item item-text-wrap row">
   <button ng-click="share('w', 'myMessage', '', 'http://technotip.com');"
                class="button button-light col col-20">
       <i class="icon ion-social-whatsapp"></i>
   </button>
   <button ng-click="share('f', 'myMessage', '', 'http://technotip.com');"
                class="button button-light col col-20">
       <i class="icon ion-social-facebook"></i>
   </button>
   <button ng-click="share('t', 'myMessage', '', 'http://technotip.com');"
                class="button button-light col col-20">
       <i class="icon ion-social-twitter"></i>
   </button>  
   <button ng-click="share('sms', 'myMessage', '', 'http://technotip.com');"
                class="button button-light col col-20">
       <i class="icon ion-android-textsms"></i>
   </button> 
   <button ng-click="share('email', 'myMessage', '', 'http://technotip.com');"
                class="button button-light col col-20">
       <i class="icon ion-ios-email"></i>
   </button> 
 </div>
</div> -->
  
</ion-view>
