

<!-- <ion-view view-title="home"> -->

<ion-view hide-nav-bar="true">
<ion-content class="splash padding">
<div class="branding">
<img src="img/logo.png" alt="All nations Fellowship Church">
<!-- <div class="tagline light"> <h2> Making Disciples of All Nations</h2></div>  -->
<p class="light">Made with much love, for music fans and fun lovers
</p>
<p class="light">Subscribe</p>
</div>

<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Email">
    </label>
    <button class="button button-small button-assertive">
      Submit
    </button>
  </div>
</div> 
<p class="light">Follow us on </p>
<div class="button-bar">
  <button class="icon   ion-social-twitter button button-calm" ng-click = "openBrowser()"></button>
  <button class="icon  ion-social-facebook button button-positive" ng-click = "openBrowser()"></button>
  <button class="icon  ion-social-googleplus button button-assertive" ng-click = "openBrowser()"></button>
  </div>
  
  </ion-content>
</ion-view>


<!-- <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings> -->
<!-- <rating ng-model="ratings" max="rating.max"></rating> -->
